<app-header></app-header>
test
<h2>{{title}}</h2>
<h3>{{str1}}</h3>
<h3>{{getName()}}</h3>
<h3>{{obj}}</h3>
<h3>{{obj.b}}</h3>
<h3>{{arr}} {{arr.length}} {{arr[1]}}</h3>
<h3>{{siteUrl}}</h3>
App-user-list
<app-user-list></app-user-list>
app-login
<app-login></app-login>
<button type=button (click)="alertName('tony')">click me</button>
<br>
<button type=button (click)="alertName(str1)">click me</button>
<br>
<input type="text" #input1 (keyup)="myEvent(input1.value)" />
<br>
<button type=button (click)="myEvent(input1.value)">click me input1.value</button>
<br>
<input type="text" #input2 (keyup.space)="myEvent(input2.value)" />
<br>
<input type="text" (keyup)="myEvent($event.target.value)" />
<br>
<input type="text" (keyup)="getVal($event.target.value)" />
<hr>
<a [href]="linkHref">test property</a>
<button type=button [disabled]="buttonDisabled">test property</button>
<button type=button (click)="setProperty()">Set Property</button>
<hr>
<h1 *ngIf="isShow else elseBlock">
    if Block here
</h1>
<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template>
<h1 *ngIf="showFlag=='no' else elseBlock">
  if Block here
</h1>
<div *ngIf="showFlag=='yes'; then ifBlock0 else elseBlock0"></div>
<ng-template #ifBlock0>
  <p>if block0</p>
</ng-template>
<ng-template #elseBlock0>
  <p>else block0</p>
</ng-template>
<br><br><br>
<ng-template [ngIf]="color=='red'">
  <p>Red block</p>
</ng-template>
<ng-template [ngIf]="color=='green'">
  <p>Green block</p>
</ng-template>
<ng-template [ngIf]="color=='blue'">
  <p>Blue block</p>
</ng-template>
<hr>
<div [ngSwitch]="color">
  <h2 style=color:red *ngSwitchCase="'red'">
    red color
  </h2>
  <h2 style=color:yellow *ngSwitchCase="'yellow'">
    yellow color
  </h2>
  <h2 style=color:green *ngSwitchCase="'green'">
    green color
  </h2>
  <h2 style=color:blue *ngSwitchCase="'blue'">
    blue color
  </h2>
  <h2 style=color:gray *ngSwitchDefault>
    gray color
  </h2>
</div>
<ul>
  <li *ngFor="let item of arr2">{{item.nnn}}</li>
</ul>
<hr>
<form #frm1="ngForm" (submit)="getFormValues(frm1.value)"><!--Both of (submit) or (ngSubmit) are OK!-->
  <input ngModel type="text" name="username" />
  {{frm1.value.username}}
  <br><br>
  <input ngModel type="text" name="age" />
  {{frm1.value.age}}
  <br><br>
  <input ngModel type="text" name="addr" />
  <br><br>
  <button>0Get User Values</button><!--Both of <button> or <button type=submit> are OK!-->
</form>
<div [style.backgroundColor]="color">test style binding</div>
<div [style.backgroundColor]="'red'">test style binding</div>
<button type="button" (click)="updateColor()">update Color</button>
<div [style.backgroundColor]="showFlag!='no' ? 'blue' : 'green'">test style binding</div>

<ngb-alert [dismissible]="false">
  <strong>Warning</strong> kkkkkk sss.
</ngb-alert>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<button mat-button color="primary">test material button</button>
<button mat-flat-button color="accent">test material button</button>
<mat-slider max="10" min="1"></mat-slider>
<mat-slider step="4" tickInterval="3"></mat-slider>

<ul>
<li *ngFor="let item of aryUsers">
  <app-users [user]="item" (clickMeFunc)="parentFunc($event)"></app-users>
</li>
</ul>
<app-footer></app-footer>
